.root {
  height: 100lvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 24px;
  font-size: 24px;

  @media (min-width: 600px) {
    font-size: 32px;
  }
}

.tableWrapper {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.table {
  min-width: min-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 8px;
  row-gap: 20px;

  @media (min-width: 600px) {
    column-gap: 20px;
  }
}

.tableRowWrapper {
  display: contents;

  & h2 {
    font-size: 14px;
    font-weight: 500;

    @media (min-width: 600px) {
      font-size: 18px;
    }
  }
}

.tableRowLabel {
  /* justify-self: end; */
}

.scroller {
  height: 25vh;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
